.DS_Store

app/environment/*
app/environment/admin/*
!app/environment/admin/index.html
app/environment/public/*
!app/environment/public/index.html
app/environment/install/*
!app/environment/install/index.html


app/cache/*
!app/cache/index.html

session/*
!session/index.html

app/logs/*
!app/logs/index.html

!app/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
