.modal-footer {
  padding-bottom: 0px;
}

.card-body {
  /* padding-top: 0px !important; */
}

.modal-header {
  padding: 1rem 1.75rem;
}

#kt_datatable1_filter,
#kt_datatable1_length {
  display: none;
}

/* @media only screen and (max-width: 600px) { */
/* @media screen and (max-width: 454px) { */
@media screen and (max-width: 575px) {
  #kt_datatable1_filter,
  #kt_datatable1_length {
    display: block;
  }

  #tableFilter {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  button[data-id="filter_pemilik"],
  button[data-id="filter_span"] {
    height: 30px !important;
  }
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Cari";
}

button[data-id="filter_pemilik"],
button[data-id="filter_span"] {
  height: 33px;
}

/* Loader */
#loading-overlay {
  position: fixed;
  margin: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}

.loading-cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: loading-sp-anime 0.8s infinite linear;
}

@keyframes loading-sp-anime {
  100% {
    transform: rotate(360deg);
  }
}

.is-hide {
  display: none;
}
