
# <FilesMatch "(\.(js|css|sql)|~)$">
    ## Apache 2.2
    # Order Deny,Allow
    # Deny from all
    #Allow from 0.0.0.0
    #Satisfy All

    ## Apache 2.4
    # Require all denied
# </FilesMatch>

# <Files ~ "\.js$">
#     order allow,deny
#     allow from index.php
#     deny from all
# </Files>
# <Files ~ "\.css$">
#     order allow,deny
#     allow from localhost
#     deny from all
# </Files>